.mnemosyne-button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}

.tag-button {
    flex: 1 1 auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.2s, color 0.2s;
}

.tag-button:hover {
    background-color: #555;
}

.tag-button-included {
    background-color: white;
    color: #4caf50;
}

.tag-button-included:hover {
    background-color: #66bb6a;
}

.tag-button-excluded {
    background-color: white;
    color: #f44336;
}

.tag-button-excluded:hover {
    background-color: #e57373;
}

.tag-button-all-selected {
    background-color: #2196f3;
    color: white;
}

.tag-button-all-selected:hover {
    background-color: #64b5f6;
}

.tag-button:not(.tag-button-included):hover.included-potential {
    background-color: #4caf50;
    color: white;
}

.tag-button-included:hover.excluded-potential {
    background-color: #f44336;
}

.tag-button-excluded:hover.neutral-potential {
    background-color: #555;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    padding: 0;
}

.reset-button:hover {
    color: #2196f3;
}